.App {
	width: 100%;
	height: 100%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: 5%;
	background-color: #3897a8;
}

.nav-wrapper {
	font-size: large;
	margin: auto auto;
}

.logo {
	color: white;
	text-decoration: none;
}

/* SEARCH BAR ANIMATIONS AND ICON*/
/* 
Stole this from here:
https://www.mockplus.com/blog/post/search-bar-design
https://codepen.io/AlbertFeynman/pen/BPvzWZ
*/
.search-container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 100px;
}
.search-container .input-field {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background: #3897a8;
	border-radius: 50%;
	transition: all 1s;
	z-index: 4;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.search-container .input-field:hover {
	cursor: pointer;
}
.search-container .input-field::before {
	content: "";
	position: absolute;
	margin: auto;
	top: 22px;
	right: 0;
	bottom: 0;
	left: 22px;
	width: 12px;
	height: 2px;
	background: white;
	transform: rotate(45deg);
	transition: all 0.5s;
}
.search-container .input-field::after {
	content: "";
	position: absolute;
	margin: auto;
	top: -5px;
	right: 0;
	bottom: 0;
	left: -5px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid white;
	transition: all 0.5s;
}
.search-container input {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background: #3897a8;
	color: white;
	text-shadow: 0 0 10px #3897a8;
	padding: 0 80px 0 20px;
	border-radius: 30px;
	box-shadow: 0 0 25px 0 #3897a8, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s;
	opacity: 0;
	z-index: 5;
	font-weight: bolder;
	letter-spacing: 0.1em;
}
.search-container input:hover {
	cursor: pointer;
}
.search-container input:focus {
	width: 215px;
	opacity: 1;
	cursor: text;
}
.search-container input:focus ~ .input-field {
	right: -250px;
	background: #3897a8;
	z-index: 6;
}
.search-container input:focus ~ .input-field::before {
	top: 0;
	left: 0;
	width: 25px;
}
.search-container input:focus ~ .input-field::after {
	top: 0;
	left: 0;
	width: 25px;
	height: 2px;
	border: none;
	background: white;
	border-radius: 0%;
	transform: rotate(-45deg);
}
.search-container input::placeholder {
	color: white;
	opacity: 0.5;
	font-weight: bolder;
}
/* end of search bar*/
